.header{
  background-color: #222324;
  width: 100%;
}
.header_inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
}
.header_inner > div{
  display: flex;
  align-items: center;
}
.header a{
  color: #fff;
  margin: 0 10px;
  cursor: pointer;
}
.header_search{
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
  height: 40px;
  cursor: pointer;
}
.header_button{
  border: 1px solid #fff;
  border-radius: 15px;
  outline: none;
  background-color: transparent;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
  height: 40px;
  margin: 0 10px;
  cursor: pointer;
}
a.header_button_green{
  color: rgb(163, 218, 165);
  border: 1px solid rgba(163, 218, 165, .5);
}