h1, h2, h3, h4, h5, h6{
  margin: 10px 0;
}
h1{
  font-size: 24px;
}
h2{
  font-size: 20px;
}
h3, .h3{
  font-size: 16px;
  font-weight: 700;
  margin: 10px 0;
}
h4, .h4{
  font-size: 12px;
  font-weight: 700;
}
.link{
  color: #589beb;
  cursor: pointer;
}
p{
  margin: 5px 0;
}
.error{
  padding: 5px 0;
  color: #ff0000;
}